<header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <!-- Brand -->
            <a class="navbar-brand" href="#">
                <div class="col-xs-3 col-sm-1">
                    <img src="/assets/img/logo.png" alt="Logo Protect.me" style="max-height: 65px; max-width: 65px;">
                </div>
                
            </a>
    
            <!-- Links -->
            <div class="collapse navbar-collapse dual-collapse2 order-1">
                <ul class="navbar-nav">
                    <li class="nav-item {% if page_id == 0 %}active{%endif%}">
                        <a class="nav-link" href="/internal/home">Inicio</a>
                    </li>
                </ul>
            </div>

            <div class="navbar-collapse collapse w-100 dual-collapse2 order-2">
                <ul class="navbar-nav dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hola responsable #{{accountID}}!
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Acción</a>
                        <a class="dropdown-item" href="#">Otra acción</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">Cerrar Sesión</a>
                    </div>
                </ul>
            </div>
        </nav>
    </header>